* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #000;
  color: #fff;
  height: 100vh;
}

/* FUNDO */
.background {
  position: fixed;
  inset: 0;
  background: url('poster.jpg') center/cover no-repeat;
  z-index: -2;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

/* HEADER */
.header {
  padding: 20px 40px;
}

.logo {
  color: #e50914;
  font-size: 32px;
  font-weight: bold;
}

/* CONTEÚDO */
.container {
  max-width: 600px;
  margin: 120px auto;
  text-align: center;
}

.container h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.benefits {
  list-style: none;
  margin-bottom: 30px;
}

.benefits li {
  margin: 10px 0;
  font-size: 18px;
}

/* BOTÃO */
.btn {
  background: #e50914;
  color: #fff;
  padding: 14px 28px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}
body {
  margin: 0;
  min-height: 100vh;
  background: url('pôster.jpg') center / cover no-repeat;
}
.btn {
  display: block;
  width: 90%;
  max-width: 320px;
  margin: 25px auto 0 auto;
  padding: 16px 0;

  background-color: #e50914;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;

  box-shadow: 0 10px 30px rgba(229, 9, 20, 0.5);
  transition: transform 0.2s ease, background 0.2s ease;
}

.btn:hover {
  background-color: #f6121d;
  transform: scale(1.03);
}
